/* Footer */
footer {
    background-color: $primary;
    font-weight: 600;
    font-size: 14px;
    & .footer-section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        color: $base;
        .footer-contact {
            margin: $spacing-medium;
            h3 {
                font-weight: 700;
                font-family: $font-principal;
            }
            p {
                font-weight: 500;
                font-family: $font-principal;
            }
        }
        .footer-rrss {
            display: flex;
            flex-direction: column;
            font-family: $font-principal;
            .logos-rrss {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly
            }
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: $text-color;
    }
}
@media screen and (max-width: 720px) {
    /* responsive footer */
        footer .footer-section {
            flex-direction: column;
            gap: 2rem;
            & .footer-contact {
                text-align: center;
            }
        }
        footer .copyright {
            margin-top: 5px;
        }
}