/* Header */
.main-header {
     color: $base;
     background-color: $primary;
     font-weight: 600;
     padding: 1.5rem;
     font-size: 14px;
     & .header__logo {
         padding-left: 5%;
     }
     & .navbar-expand-lg .navbar-collapse {
         justify-content: flex-end;
         padding-right: 5%;
         & .navbar-nav .nav-link.active, .show>.nav-link {
            color: $base;
        }
     }
 }
 @media screen and (max-width: 992px)  {
     .navbar-collapse {
         padding-left: 5%;
         padding-top: 3%;
     }
 }