.main-contacto {
    padding: $spacing-small 0;
    display: flex;
    justify-content: center;
    .contact-section {
        padding: $spacing-xsmall;
        background-color: white;
        opacity: 0.7;
        border-radius: 15px;
        text-align: center;
        font-size: $text-medium;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
        .form-user {
            font-size: $spacing-small;
            text-align: left;
            display: flex;
            justify-content: space-around;
            input { 
                margin: 15px;
                width: 60%;
                height: 25px; 
                font-size: $text-base;
            }
            textarea { 
                margin: 15px;
                width: 80%;
            }
            label { 
                margin-left: 15px;
                width: 80%;
            }
        }
        .form-datos {
            .datos__detalles {
                padding: $spacing-small;
                font-size: $text-small;
                text-align: center;
            }
            }
    }
}