// Portfolio
.main-portfolio { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    & .casos-detalle {
        padding: $spacing-xsmall $spacing-xsmall;
        background-color: white;
        opacity: 0.7;
        border-radius: 15px;
        h2 {
            font-weight: 700;
        }
        & #casos-titulo {
            text-align: center;
            font-size: $text-medium;
        }
        & .casos-item {
            font-size: $text-base;
            text-align: left;
            padding-bottom: $spacing-xsmall;
        }
    }
}


