* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
ul {
    list-style-type: none;
}
body {
    font-family: var(--$font-principal);
}
main {
    background-image: url('../img/fondo.png');
    background-size: cover;
    width: 100%;
    min-height: 628px;
}