    /* Colors */
$primary: #457B9D;
$secondary: rgb(161, 160, 160);
$text-color: #FDF7FA;
$base: #FDF7FA;

    /* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

    /* Font-Family */
$font-principal: 'Montserrat', sans-serif;
$font-title: 'Roboto Slab', serif;

    /* Font-Sizes */
$text-large: 5.2rem;
$text-medium: 2.2rem;
$text-base: 1.6rem;
$text-small: 1.4rem;
$text-xsmall: 1.2rem;